{% extends 'base.html.twig' %}

{% block body %}

    <h1>Liste des thèmes</h1>

    <table class="table">
        <tbody>
        {% for theme in themeList %}
            <tr>
                <td>
                    <a href="{{ path('theme_details', {'id': theme.id}) }}">
                        {{ theme.name }}
                    </a>
                </td>
                <td>{{ theme.numberOfPosts }} posts</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}


