{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ theme.name }}</h1>

    <table class="table">
        <tbody>
        {% for post in postList %}
            <tr>
                <td>
                    <a href="{{ path('post_details', {'id': post.id}) }}">
                        {{ post.title }}
                    </a>
                </td>
                <td>{{ post.answers | length }} réponses</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

